@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Satoshi", ui-sans-serif, system-ui, sans-serif;
  --font-pixel: "Pixelify Sans", system-ui, sans-serif;
  --color-background: oklch(1 0 129.63 / 98);
  
  /* Animations */
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}
