@import "tailwindcss";

@theme {

  --color-background: oklch(1 0 129.63 / 98);
  
  /* Animations */
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}
